<div id="about" style="background-color: rgb(173, 169, 197);font-family: 'Buenos Aires'; font-size: 18px; color: rgb(51, 27, 27); text-align: justify; ">
    <div class="container">
        <h2
            style="font-family: 'Buenos Aires';font-size: 30px;font-weight: bold; text-align: center;padding-top: 50px;">
            Introduction : Free IELTS Mastery Workshop with Mock Test
        </h2><br>

        <p style="padding-left: 40px; padding-bottom: 50px; font-size: x-large;">
            Welcome to “Free IELTS Mastery Workshop with Mock Test” a comprehensive Workshop designed to guide
            candidates through the intricacies of the International English Language Testing System (IELTS). Whether you
            are a first-time test-taker or aiming to improve your score, this workshop is tailored to enhance your
            understanding of the IELTS exam and ensure you are thoroughly prepared for success.
            <br>
            <span style="padding-left: 300px;font-size: medium;color: brown;">Crack IELTS with Confidence: Join Our
                Workshop for Expert Guidance and Mock Test Brilliance!</span>
        </p>
    </div>
    <br><br>
</div>