<section class="py-2 fixedElement" style="background-color:#c81d1d;font-family: 'Buenos Aires';" appSticky>
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-lg-8">
          <p class="text-white text-center text-lg-left mobile-content mb-0" style="font-size:18px; line-height:40px;">
              Fulfill your Study Abroad Dreams with Bluesky Immigration and Student Consultancy
          </p>
        </div>
        
        <div class="col-lg-4 pr-0 text-center text-lg-right mt-2 mt-lg-0">
          <a href="#" type="button" data-toggle="modal" data-target="#registrationModel">
            
          </a>
        </div>
      </div>
    </div>
  </section>
