<div id="reason" style="background-color: rgb(173, 169, 197);font-family:'Buenos Aires';">
    <div class="container">
        <h1 style="text-align: center; padding: 30px;">Reasons to Take an IELTS Realty Mock Test</h1>
        <p style="padding-right: 50px; padding-bottom:50px; padding-left: 200px; text-align: left; font-size: medium;">
           <span style="color: rgb(255, 0, 208);"> Exposure to the actual test format:</span> You will get a feel for the timing, types of questions, and level of difficulty of the real IELTS test. <br><br>
    
           <span style="color: rgb(255, 0, 208);"> Identify your strengths and weaknesses:</span> This will help you focus your study time on the areas where you need the most improvement.<br><br>
    
           <span style="color: rgb(255, 0, 208);">  Develop test-taking strategies:</span> You can learn how to manage your time effectively and answer different types of questions efficiently.<br><br>
    
           <span style="color: rgb(255, 0, 208);">  Boost your confidence:</span> Feeling comfortable with the test format can help you reduce anxiety and perform better on the real test.<br><br>
        </p>
    </div>
   
</div>
