<div class="row justify-content-center my-5 text-center">
    <h2
            style="font-family: 'Buenos Aires';font-size: 30px;font-weight: bold; text-align: center;padding-top: 10px;padding-bottom: 30px;">
            Agenda : Free IELTS Mastery Workshop with Mock Test
        </h2><br>

    <div class="col-12 col-lg-8 mb-2">
        <!--point-->
        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>1. &nbsp;</span> Understanding the IELTS Exam:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>Overview of IELTS format (Academic and General Training)</li>
                        <li>Breakdown of the four sections: Listening, Reading, Writing, and Speaking</li>
                        <li>Scoring criteria and band descriptors</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!--point-end-->
        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>2. &nbsp;</span>Strategies for Each Section:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>Listening: Effective note-taking, understanding accents, and improving concentration</li>
                        <li>Reading: Skimming and scanning techniques, time management, and tackling different question types</li>
                        <li>Writing: Structuring essays, task response strategies, and enhancing vocabulary and grammar</li>
                        <li>Speaking: Overcoming nervousness, developing fluency, and responding to various question types</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>3. &nbsp;</span>Common Challenges and How to Overcome Them:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>Time management during the exam</li>
                        <li>Dealing with complex vocabulary and unfamiliar topics</li>
                        <li>Handling stress and anxiety</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>4. &nbsp;</span>Mock Test and Evaluation:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>A simulated IELTS test to assess your current proficiency</li>
                        <li>Live evaluation and feedback on your performa</li>
                        <li>Tips for improvement and personalized study plans</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>5. &nbsp;</span>Resources and Study Materials:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>Recommended books, online resources, and practice materials</li>
                        <li>Effective study plans and strategies for self-study</li>
                        <li>Utilizing language learning apps and platforms</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>6. &nbsp;</span>Q&A Session:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>Attendees can ask questions related to specific sections or concerns</li>
                        <li>Expert panellists will provide insights and solutions</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-3 pointBox">
            <div class="card-3d-effect">
                <div class="card-content">
                    <h5 class="card-title"><span>7. &nbsp;</span>Next Steps and Final Tips:</h5>
                    <ul  style="padding-left: 30px;padding-bottom: 10px; padding-top: 20px;">
                        <li>Setting realistic goals for improvement</li>
                        <li>Creating a study schedule leading up to the exam</li>
                        <li>Final tips for exam day success</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>