<footer class="footer" id="contact">
  <div class="container">
    <div class="footer-content">
      <div>
        <mat-icon>location_on</mat-icon>&nbsp;&nbsp;
        <span>Englitute: 3/8, Basement, East Patel Nagar, New Delhi, 110008</span>
      </div><br>
      <div class="phone-numbers">
        <mat-icon>phone</mat-icon>&nbsp;&nbsp;
        <span>+91 9871-200-516,</span>
        <span> &nbsp;+91 9871-210-257</span>
      </div>
    </div>

    <div class="text-center text-muted"
      style="font-family: 'Gilroy'; font-size: medium; color: rgb(167, 162, 162); font-size: 20px; font-weight: bold;text-align: center;">
      <p style="color: white;">&copy; All rights reserved.
      </p>
    </div>
  </div><br><br><br><br><br><br><br><br><br>

</footer>